* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    display: inline-block;
    padding-left: 80px;
    margin-top: 15px;
    font: 700 18px/0 'Helvetica', 'Times New Roman', Times, sans-source;
}
.nav-links {
    text-decoration: none;
}
.nav-links:hover {
    color: aqua;
}
.nav-links:visited {
    color: grey;
}
ul {
    text-align: center;
}
.backgroundImg {
    width: 90%;
    height: 650px;
    margin: 2.8% 0 .3% 5%;
    opacity: .5;
}
html {
    background: #000000;
}
.author {
    display: inline-block;
    position: absolute;
    left: 35%;
    color: white;
    font: 700 20px/30px 'Helvetica', sans-source;
}

/* 
Media queries
*/
@media screen and (max-width: 390px) {
    .nav-links {
        display: inline-block;
        padding: 0;
        text-align: left;
    }
    ul {
        text-align: center;
    }
    li {
        display: inline-block;
        padding-left: 10px;
        margin-top: px;
        font: 700 11px/0 'Helvetica', 'Times New Roman', Times, sans-source;
    }
    .backgroundImg {
        height: 800px;
        opacity: .6;
    }
}

